<div class="second-header">
<button routerLink="/home">home</button>
<button routerLink="/contact">contact</button>
<button routerLink="/users">user</button>
<button routerLink="/userDetails">userDetails</button>
<button routerLink="/UserAndDetails">userInfo</button>
<button routerLink="/api">Apis</button>
<button routerLink="/cycles">Ag-Hooks</button>
<button routerLink="/pipes">Pipes</button>
</div>
<!-- <div class="layout">
    <div class="nav"> hello</div>
     <div class="center">hii</div> -->
<router-outlet />
<!-- </div> -->
