.second-header{
    height:70px;
    background-color: rgb(155, 157, 155);
    overflow: auto;
     justify-content: center;
    align-items: center;
    display:flex;

    
}
button{

   width:140px;
   height:35px;
   margin-top: 5px;
   gap:15px;
   margin:3px;
     background: linear-gradient(to right, #4CAF50, #d8a9c9);
     border-radius: 10px;
   
}
.nav{
  width:150px;
  height:80%;
  background-color: rgb(211, 150, 202);
}
.center{
  width:80%;
  height:80%;
  background-color: aquamarine;
}
.layout{
  display:flex;
}