.nav button{

   width:140px;
   height:30px;
   margin-top: 5px;
   gap:15px;
   margin:3px;
     background: linear-gradient(to right, #d0d8d0, #f3daeb);
   
}
.nav{
   width:160px;
    background-color:rgb(221, 251, 221);
    overflow-y: auto;
     height: 100vh;
      
}
